.buscador {
    display:inline-flex;
    float:right;
    background-color:rgb(94, 134, 54);
}

.navbar {
    background-color:chartreuse;
}
@font-face {
    font-family: 'Creepster', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
    src: url('https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script&family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
}

.titulo {font-family: Creepster;
}