.buscador {
    display:inline-flex;
    float:right;
    background-color:rgb(94, 134, 54);
}

.navbar {
    background-color:chartreuse;
}

.abre {
    background-color:white;
    color:chartreuse;
}
.titulo {
    color:chartreuse;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.cuerpo { 
    background-color:black;
    font-family: rym;
}

.row {
    display:inline-block;
}
.card {
    background-color:lime;
}

.footer {
    color:cyan;
    background-color:black;
}

.carousel {
    background-color:fuchsia;
    align-items: center;
    display:flex;
}

.nombres {
    font-size: larger;
    background-color:palegreen;
}
.Favs {
    color:crimson;
    border-radius:70px;
    float: right;
    
}