.buscador {
    display:inline-flex;
    float:right;
    background-color:rgb(94, 134, 54);
}

.navbar {
    background-color:chartreuse;
}

.abre {
    background-color:white;
    color:chartreuse;
}
.guardar {
    float:right;
    color:rgb(226, 72, 16);
    font-size:xx-large;
    margin-right:100px;
    margin-top:50px;
    border-radius:70px;
    background-color:rgb(12, 251, 12);
}
.titulo {
    color:chartreuse;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.cuerpo { 
    background-color:black;
    font-family: rym;
}

.row {
    display:inline-block;
}
.card {
    background-color:lime;
}

.footer {
    color:cyan;
    background-color:black;
}

.carousel {
    background-color:fuchsia;
    align-items: center;
    display:flex;
}

.nombres {
    font-size: larger;
    background-color:palegreen;
}
.Favs {
    color:crimson;
    border-radius:70px;
    float: right;
    
}

.deta1 {
    height:130px;
    background-image: url("https://64.media.tumblr.com/10a3c5576f7cc37cde56d9ca0efb1377/tumblr_pfd7zhgPiO1x6lzrbo1_540.png");
    text-align:center;
    color:chartreuse;
}

.deta2 {
    color: white;
}